<h1>{{title}}</h1>
<input type="text" name="inputText"
       placeholder="a new title"
       class="form-control" [(ngModel)]="title">
<br>
<table class="table table-info">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>author</th>
      <th>price</th>
      <th>quantity</th>
      <th>Like <3 </th>
      <th>buy a book</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of list, let i= index">
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.price}}</td>
    <td>{{book.quantity}}</td>
    <td>
      {{book.nbrLike}}
      <button class="btn btn-sm btn-outline-danger" (click)="incrementLike(book)">
        like
      </button>
    </td>
    <td>
      <button class="btn btn-sm btn-warning" [disabled]="book.quantity==0" (click)="buyBook(i)">
      Buy this book 1</button>
    </td>
  </tr>
  </tbody>
</table>
