<button class="btn btn-outline-info"
        (click)="show()">
  add a new user
</button>
<app-user-form [hidden]="!showForm"
(notifParentNewUser)="saveUser($event)"></app-user-form>

<div [hidden]="showForm">
  <div class="form-group">
    <label>Search User</label>
    <select name="user" class="form-control"
            [(ngModel)]="role">
      <option value="all">default</option>
      <option value="admin">admin</option>
      <option value="user">user</option>
    </select>
  </div>

  <div class="row">
    <div *ngFor="let user of list" class="card col-3 m-lg-2" >
      <div *ngIf="user.role==role || role=='all'">
        <img src="{{user.picture}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">{{user.role}}</p>
          <button class="btn btn-primary" [disabled]="user.role=='admin'"
                  (click)="delete(user)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
